.profile {
    display: inline-block;

    padding-top: 28px;

    border: 1px solid black;
    border-radius: 3px;
}

.description {
    text-align: center;
}

.avatar__wrapper {
    display: inline-block;

    width: 105px;
    height: 105px;
    padding-top: 10px;

    border-radius: 50%;

    background-color: green;

    overflow: hidden;
}

.avatar {
    width: 100px;
    height: 100px;

    margin: auto;
}

.name {
    margin-top: 12px;

    font-size: 18px;
}

.tag {
    margin-top: 4px;

    font-size: 10px;
}

.location {
    margin-top: 12px;

    font-size: 12px;
}

.stats {
    display: flex;
    justify-content: space-around;
    gap: 8px;

    margin-top: 32px;

    font-size: 12px;

    border-top: 1px solid black;
}

.stats li {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 10px;
}